<!-- ユーザーの詳細 -->

<div>
  <h1>User info</h1>
  <!-- カリキュラムの(100,100)だとエラーになるため、それ以下で設定 -->
      <%= image_tag @user.get_profile_image(80,80) %>
    <h3>name <%= @user.name %></h3>
    <h3>introduction <%= @user.introduction %></h3>


    <p><%= link_to "プロフィール編集", edit_user_path(@user.id) %></p>
</div>


<!-- ユーザーの投稿一覧 -->
<h1>Books</h1>

<table border="0">
  <tr>
    <th> </th>
    <th><p>Title</p></th>
    <th><p>Opinion</p></th>
  </tr>
 
  <% @books.each do |book| %>
  <tr>  
      <td><%= image_tag @user.get_profile_image(80,80) %></td>
      <td><%= link_to book_path(book.id) do %>
          <%= book.title %>
          <% end %></td>
      <td><%= book.opinion %></td>
  <% end %>
  </tr>